// Colors
$color-title: #4BA586;
$color-nav: #8E8E8E;
$color-text : #1F2744;
$color-text-footer : #575757;
$color-text-title : #0B2E29;
$background-grey : #F5F5F5;
$background-white: #FEFEFF;
$color-value-input: #D7D7D7;




//Fonts
$font-nav : 'Poppins', sans-serif;
$font-text : 'DM Sans', sans-serif;
